<nz-card nzTitle="Screen List" [nzExtra]="extraTemplate">
    <nz-table class="screen-builder-table" [nzShowPagination]="false" [nzScroll]="{ x: '1200px', y: null }" #filterTable
        [nzLoading]="loading" [nzData]="listOfDisplayData" [nzPageSize]="pageSize" class="border">
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <ng-container *ngFor="let column of listOfColumns">
                    <th nzCustomFilter *ngIf="column.name != 'Action' && column.name != 'Pdf'"
                        [nzSortFn]="column.sortFn">{{column.name}}
                        <nz-filter-trigger [nzVisible]="column.visible || false" [nzDropdownMenu]="menu">
                            <span nz-icon nzType="search"></span>
                        </nz-filter-trigger>
                    </th>
                    <th nzWidth="120px" *ngIf="column.name == 'Action' || column.name == 'Pdf'" class="w-1/12">
                        {{column.name}}
                    </th>

                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                            <div class="search-box">
                                <input type="text" nz-input nzClear (keyup)="search($event , column)"
                                    placeholder="Search here..." [(ngModel)]="column.searchValue" />
                            </div>
                        </div>
                    </nz-dropdown-menu>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of filterTable.data; index as i">
                <!-- <td>{{ i+1 }}</td> -->
                <td>{{ data.navigation }}</td>
                <td>{{ data.name }}</td>
                <!-- <td>{{ data.orgnaizationName ? data.orgnaizationName : 'no data'}}</td> -->
                <td>{{ data.departmentname ? data.departmentname : data.applicationname}}</td>
                <td>{{ data.modulename ? data.modulename : data.applicationname}}</td>
                <!-- <td><label nz-checkbox [(ngModel)]="data.pdf" [nzDisabled]="true"></label></td> -->
                <td>
                    <i class="fa-regular fa-pen-to-square !text-blue-600 hover:cursor-pointer" nzTooltipTitle="Edit"
                        nz-tooltip (click)="[openModal(),editItem(data)]"></i>

                    <i class="fa-regular fa-trash !text-[#fd3636] pl-2 hover:cursor-pointer" nzTooltipTitle="Delete"
                        nz-tooltip nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                        (nzOnConfirm)="deleteRow(data)"></i>

                    <i class="fa-regular fa-file-export !text-green-600 hover:cursor-pointer pl-2"
                        nzTooltipTitle="Go To Page" nz-tooltip routerLink="/pages/{{data.navigation}}"></i>

                    <i class="fa-regular fa-arrow-up-right-from-square !text-black hover:cursor-pointer pl-2"
                        nzTooltipTitle="Go To Build Page" nz-tooltip (click)="goToBuildPage(data)"></i>

                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="paginatio-bottom flex justify-between items-center my-3">
        <div>
            <p class="showing">Showing <span class="pagClr" >{{startIndex}} - {{endIndex}}</span> from
                <span class="pagClr" >{{listOfData.length}}</span> data
            </p>
        </div>

        <div class="flex items-center justify-end">
            <div class="pagination mr-4">
                <label class="label">Pagination</label>
                <div class="input-container">
                    <nz-input-number [(ngModel)]="pageSize" (ngModelChange)="handlePageChange(1)" [nzStep]="1"
                        [nzMin]="1"></nz-input-number>
                </div>
            </div>
            <div>
                <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="listOfData.length" [nzPageSize]="pageSize"
                    (nzPageIndexChange)="handlePageChange($event)"></nz-pagination>
            </div>
        </div>
    </div>

</nz-card>
<ng-template #extraTemplate>
    <button nz-button nzType="primary" class="btn" (click)="openModal()"><i class="fa-regular fa-plus mr-1.5"></i>Add
        New</button>
    <button nz-button nzType="primary" class="ml-2 btn-no !bg-green-600 !border-none hover:!bg-green-500"
        (click)="downloadJson()"><i class="fa-regular fa-down-to-bracket mr-1.5"></i>Download Json</button>
</ng-template>
<!-- Modal -->
<nz-drawer nzWidth="80%" [nzClosable]="true" [nzVisible]="isVisible" [nzFooter]="footerTpl" nzPlacement="right"
    nzTitle="Add Screen" (nzOnClose)="handleCancel()">
    <ng-container *nzDrawerContent>
        <form [formGroup]="form">
            <div class="flex flex-wrap">
                <div class="w-1/2 theme-body" *ngFor="let item of fields">
                    <formly-form [model]="model" [fields]="item.fieldGroup" [options]="options"
                        [form]="form"></formly-form>
                </div>
            </div>
        </form>
    </ng-container>
</nz-drawer>
<ng-template #footerTpl>
    <div class="src-btn flex justify-end">
        <button class="mr-2 btn-dangerous" nz-button nzType="primary" nzDanger (click)="handleCancel()">
            <i class="fa-regular fa-xmark mr-1.5"></i>Close</button>
        <button nz-button *ngIf="isSubmit" [ngClass]="{'btn-no' : !form.valid,'btn': form.valid}" nzType="primary"
            (click)="onSubmit()" [disabled]="!form.valid">
            <i class="fa-regular fa-database mr-1.5"></i>
            Submit</button>
        <button nz-button *ngIf="!isSubmit" class="btn" nzType="primary" [disabled]="!form.valid"
            (click)="onSubmit()"><span nz-icon nzType="redo" nzTheme="outline"></span>Update</button>
    </div>
</ng-template>