.custom-width {
  width: 50px;
}

.pagination {
  display: flex;
  align-items: center;
  width: 12%;
  width: 140px;

  .ant-input-number {
    border-radius: 6px;

    .ant-input-number-input {
      height: 40px;
      background: #fff;
      border: 2px solid gray;
      border-radius: 6px;
    }

  }


}

.label {
  margin-right: 10px;
}

.input-container {
  flex-grow: 1;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.search-box {
  .ant-input {
    width: fit-content;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 0px !important;
  }
}