<nz-spin [nzSpinning]="loader" [nzSize]="'large'" class="builder-design">
    <div class="flex flex-wrap" [formGroup]="form">
        <div class="w-1/4">
            <label class="mb-2 pl-2 font-bold py-2 inline-block !rounded-md w-full">Name</label>
            <input formControlName="name" nz-input placeholder="Enter name here..."
                class="!border !rounded-md m-2 !p-2 !block !w-full" />
            <div class="!w-full flex justify-between mt-3">
                <button nz-button nzType="primary"
                    [class]="(editId == '' ? '!bg-blue-600 hover:!bg-blue-500' : '!bg-green-600 hover:!bg-green-500') + ' !w-[48%] btn-no !border-none  '"
                    (click)="save()"><i class="fa-regular fa-save mr-2"></i>{{editId == '' ? 'Save' :
                    'Update'}}</button>
                <button (click)="reset()" *ngIf="editId != ''" nz-button nzType="primary"
                    class="!bg-white !text-gray-700 hover:!bg-gray-50 ml-2 !w-[48%] btn-no !border !border-gray-50 hover:!border-gray-400"><i class="fa-regular fa-x mr-2"></i>Cancel</button>
            </div>
        </div>
        <div class="w-3/4  flex">
            <div class="w-full !mx-2">
                <label class="px-2 font-bold !rounded-md py-2  mb-2 inline-block w-full">Control
                    Json</label>
                <textarea class="!border !rounded-md !p-2 !block !w-full !max-h-60 !min-h-[100px]" style="width: 100%;"
                    nz-input placeholder="Enter control json here..." formControlName="controlJson"></textarea>
            </div>
        </div>
    </div>
    <label class="px-2 font-bold !rounded-md py-2 mb-2 inline-block w-fit mt-2">Control List</label>
    <div class="table-responsive ">
        <nz-table #editRowTable nzBordered [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="pageSize"
            [nzFrontPagination]="false">
            <thead>
                <tr>
                    <ng-container *ngFor="let column of listOfColumns">
                        <th [nzWidth]="column.name === 'ACTION' ? '120px' : (column.name === 'NO' ? '60px' : '')"
                            nzCustomFilter *ngIf="column.name != 'Action'">{{column.name}}
                            <nz-filter-trigger [hidden]="column.hideSearch" [nzVisible]="column.visible || false"
                                [nzDropdownMenu]="menu">
                                <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input class="rounded-md" type="text" nz-input nzClear (keyup)="search()"
                                        placeholder="Search here..." [(ngModel)]="column.searchValue" />
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of editRowTable.data;let index = index" class="table-cursor">
                    <td>{{index + 1}}</td>
                    <td>{{item?.name}}</td>
                    <td>
                        <div class="flex">
                            <i class="fa-regular fa-edit !text-blue-500 mr-2" (click)="edit(item)"></i>
                            <!-- <i class="fa-regular fa-trash-alt !text-red-500" (click)="showDeleteConfirm(item._id)"></i> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="paginatio-bottom">
            <div>
                <p class="showing">Showing <span class="primary-color">{{start}} <span class="!text-black"> -</span>
                        {{end}}</span> from
                    <span class="primary-color">{{listOfDisplayData.length}}</span>
                    data
                </p>
            </div>
            <div>
                <nz-pagination [nzTotal]="listOfData.length" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                    (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
            </div>
        </div>
    </div>
</nz-spin>