<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
  <div class="grid grid-cols-3 market-place">
    <div class="flex justify-start items-center text-lg" >
      <h3><b>Market Place</b></h3>
    </div>
    <div>
      <nz-input-group nzSearch>
        <input type="text" nz-input class="!h-10 !rounded-md" id="searchControll" nzAllowClear (input)="filterData($event)" placeholder="Search.." />
      </nz-input-group>
    </div>
    <div class="basic-button-save text-end justify-end">
      <button nz-button (click)="reset()" class="cancel-btn text-sm !font-normal !bg-green-500 hover:!bg-green-400 !text-white"> <i class="fa-regular fa-gear-complex-code mr-2"></i> Reset</button>
      <button nz-button nzType="primary" class="save-btn ml-3" (click)="close()"> <i class="fa-regular fa-floppy-disk mr-2"></i> Save</button>
      <button nz-button (click)="cancel()" class="cancel-btn text-sm !bg-red-500 hover:!bg-red-400 !text-white !font-normal"> <i class="fa-solid fa-circle-xmark mr-2"></i> Cancel</button>
    </div>
  </div>

  <div class="market-place">
    <nz-tabset class="mt-3">
      <nz-tab *ngFor="let group of groupedData" [nzTitle]="group.name">
        <nz-tabset [nzSelectedIndex]="0" [nzTabPosition]="'right'" *ngIf="group.children.length > 0">
          <nz-tab *ngFor="let groupChild of group.children" [nzTitle]="groupChild.name">
            <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-2 "
              *ngIf="groupChild.children">
              <div class="img " *ngFor="let groupSubchild of groupChild.children" (click)="addNodes(groupSubchild)">
                <img
                  [src]="groupSubchild?.thumbnailimage ? enviorment + groupSubchild?.thumbnailimage :  'assets/images/banner.png'"
                  alt=""
                  class="cursor-pointer hover:shadow-lg rounded-2xl w-full h-auto  max-h-[250px] bg-cover">
                <h6 class="inline-block w-full text-center font-semibold">{{ groupSubchild.name }}</h6>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-spin>
