<div class="flex flex-wrap">
    <div class="w-full pl-2">
        <form [formGroup]="myForm">
            <div class="flex flex-wrap">
                <div class="w-1/2 theme-body" *ngFor="let item of fields">
                    <formly-form [model]="model" [fields]="item.fieldGroup" [options]="options"
                        [form]="myForm"></formly-form>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-3/6">
                    <h3 [ngStyle]="{ margin: '16px 0' }"><b>Table Fields</b></h3>
                </div>
                <div class="w-3/6 text-right">
                    <button nz-button nzType="primary" class="my-2 " title="Save" ngbTooltip="Save Table"
                        (click)="submitRelease()">Save </button>
                    <button nz-button nzType="primary" class="my-2 mx-2" title="Clear" ngbTooltip="Clear"
                        (click)="clearForm()">Clear
                    </button>
                </div>
            </div>
        </form>
        <nz-table #releaseTable [nzData]="releaseList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Version</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objRelease of releaseTable.data;let index=index">
                    <td>{{ index+1 }}</td>
                    <td>{{ objRelease.date }}</td>
                    <td>{{ objRelease.name }}</td>
                    <td>{{ objRelease.description }}</td>
                    <td>{{ objRelease.version }}</td>
                    <td>{{ objRelease.status }}</td>
                    <td>
                        <span class="table-operation">
                            <a class="operation" (click)="editRelease(objRelease)">Edit</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a class="operation" nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                                (nzOnConfirm)="deleteRelease(objRelease)">
                                <span class="text-red-500" nz-icon nzType="delete" nzTheme="outline"></span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>