<div class="user-builder-layout">
  <nz-layout class="app-layout">
    <nz-header>
      <div class="app-header">
        <div class="b-brand" (click)="selectedTheme.isCollapsed = !selectedTheme.isCollapsed">
          <img src="assets/images/logo.png" alt>
          <!-- <div (click)="selectedTheme.isCollapsed = !selectedTheme.isCollapsed">
            <i
              [class]="selectedTheme.isCollapsed ? 'fa-regular fa-arrow-right-long' : 'fa-regular fa-bars'"></i>
          </div> -->
        </div>
        <div class="header-action-btns">
          <div class="nav-item">
            <i class="fa-light fa-magnifying-glass"></i>
          </div>
          <div class="nav-item">
            <i class="fa-light fa-grid-2"></i>
          </div>
          <div class="nav-item">
            <i class="fa-light fa-bell"></i>
          </div>
          <div class="nav-item">
            <i class="fa-light fa-earth-asia"></i>
          </div>
          <div class="nav-item">
            <i class="fa-light fa-gear"></i>
          </div>
          <div class="nav-item">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <div class="user-profile-header">
                <img src="assets/images/user.png" alt>
              </div>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item><i class="fa-regular fa-user mr-2"></i> My Profile</li>
                <li nz-menu-item><i class="fa-regular fa-cog mr-2"></i> Settings</li>
                <li nz-menu-item (click)="navigate()"><i class="fa-regular fa-sign-out-alt mr-2"></i> Logout</li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-layout class="main-layout2 ">
      <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="240px" nzBreakpoint="xxl" 
        [(nzCollapsed)]="selectedTheme.isCollapsed" [nzTrigger]="null">
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="selectedTheme.isCollapsed">
          <ng-container *ngFor="let menu of menus">
            <li nz-menu-item [routerLink]="menu.link" routerLinkActive="active" nz-tooltip
                nzTooltipPlacement="right" [nzTooltipTitle]="selectedTheme.isCollapsed ? menu.title : ''" 
                *ngIf="(menu.title === 'Add Organization' && username === 'shakeel.cloud@gmail.com') || menu.title !== 'Add Organization'">
                <i [class]="menu.icon"></i>
                <span class="colapsed-menu-title">{{menu.title}}</span> 
            </li>
          </ng-container>
        </ul>
        
      </nz-sider>
      <nz-content class="!bg-slate-50" >
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    
  </nz-layout>
</div>