
.main-layout2 {
    position: relative !important;
    height: calc(100vh - 80px) !important;
    overflow: hidden !important;
    // background: rgb(248 250 252) !important;
}

.ant-layout-sider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    // box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05) !important;
}

.ant-layout-content {
    padding-left: 70px;
}

.shade{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}