<nz-spin [nzSpinning]="loader" [nzSize]="'large'" class="builder-design">
    <div class="mt-2">
        <div class="flex flex-wrap">
            <div class="w-1/2 pl-2 mb-4">
                <label class="ml-1 font-bold">Select Theme</label>
                <nz-select style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="selectedTheme"
                    class="policy-cascader !h-10 !rounded-md pl-1" nzPlaceHolder="Select Theme..">
                    <nz-option *ngFor="let item of themeList" [nzLabel]="item.themename"
                        [nzValue]="item?.themename"></nz-option>
                </nz-select>
            </div>
            <div class="w-1/2 flex mt-[21px] mb-4">
                <button nz-button nzType="primary" class="!bg-green-600 hover:!bg-green-500 ml-2 btn-no !border-none"
                    (click)="searchByTheme()"><i class="fa-regular fa-search mr-2"></i>Search</button>
            </div>
        </div>
        <div class="flex flex-wrap" [formGroup]="form">
            <div class="w-1/5 pl-2">
                <label class="ml-1 font-bold">Select Application</label>
                <nz-select style="width: 100%;" nzShowSearch nzAllowClear formControlName="applicationid"
                    class="policy-cascader !h-10 !rounded-md pl-1" nzPlaceHolder="Select Application..">
                    <nz-option *ngFor="let item of applicationList" [nzLabel]="item.name"
                        [nzValue]="item?.id"></nz-option>
                </nz-select>
            </div>
            <div class="w-1/5 pl-2 mb-4">
                <label class="ml-1 font-bold">Theme Name</label>
                <input formControlName="themename" nz-input placeholder="Enter Theme Name Here..."
                    class="!border !rounded-md !p-2 !block !w-full" />
            </div>
            <div class="w-1/5 pl-2">
                <label class="ml-1 font-bold">Name</label>
                <input formControlName="name" nz-input placeholder="Enter Name Here..."
                    class="!border !rounded-md !p-2 !block !w-full" />
            </div>
            <div class="w-1/5 pl-2">
                <label class="ml-1 font-bold">Select Tag</label>
                <nz-select style="width: 100%;" nzShowSearch nzAllowClear formControlName="tag"
                    class="policy-cascader !h-10 !rounded-md pl-1" nzPlaceHolder="Select Tag...">
                    <nz-option *ngFor="let item of controllist" [nzLabel]="item.label"
                        [nzValue]="item.value"></nz-option>
                </nz-select>
            </div>
            <div class="w-1/5 flex mt-[21px]">
                <button nz-button nzType="primary"
                    [class]="(editId == '' ? '!bg-blue-600 hover:!bg-blue-500' : '!bg-green-600 hover:!bg-green-500') + ' ml-2 btn-no !border-none  '"
                    (click)="save()"><i class="fa-regular fa-save mr-2"></i>{{editId == '' ? 'Save' :
                    'Update'}}</button>
            </div>
            <div class="w-full !mx-2 mt-2">
                <label class="ml-1 font-bold">Global Classes Name</label>
                <!-- <div id="mySidenav-right" class="sidenav-right">
                <div class="mySidenav-right">
                    <div class="side-nav-body">
                        <div class="flex flex-wrap">
                            <div class="w-full">
                                <ul *ngIf="validationMessage.length">
                                    <li class="text-red-800 flex justify-start items-center mb-2"
                                        *ngFor="let errorObj of validationMessage">
                                        <p class="font-semibold capitalize text-base">
                                            {{ errorObj.message }}
                                        </p>
                                        <button nz-button nzType="primary" class="btn ml-2"
                                            (click)="fixError(errorObj)">

                                            <i class="fa-regular fa-sliders mr-2"></i>
                                            Auto Fix</button>
                                    </li>
                                </ul>
                                <div class="editor-container rounded-md" #editorRuleContainer></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                <textarea class="!border !rounded-md !p-2 !block !w-full !max-h-60 !min-h-[100px]" style="width: 100%;"
                    nz-input placeholder="Please Enter Global Classes Name..." formControlName="classes"></textarea>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <nz-table #editRowTable nzBordered [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="pageSize"
            [nzFrontPagination]="false">
            <thead>
                <tr>
                    <ng-container *ngFor="let column of listOfColumns">
                        <th [nzWidth]="column.name === 'ACTION' ? '120px' : (column.name === 'NO' ? '60px' : '')"
                            nzCustomFilter *ngIf="column.name != 'Action'">{{column.name}}
                            <nz-filter-trigger [hidden]="column.hideSearch" [nzVisible]="column.visible || false"
                                [nzDropdownMenu]="menu">
                                <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input class="rounded-md" type="text" nz-input nzClear (keyup)="search()"
                                        placeholder="Search here..." [(ngModel)]="column.searchValue" />
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of editRowTable.data;let index = index" class="table-cursor">
                    <td>{{index + 1}}</td>
                    <td>{{item?.applicationname}}</td>
                    <td>{{item?.themename}}</td>
                    <td>{{item?.controlname}}</td>
                    <td>{{item?.tag}}</td>
                    <td>{{item?.classes}}</td>
                    <td>
                        <div class="flex">
                            <i class="fa-regular fa-arrow-up-from-bracket mr-2" (click)="preview(item)"></i>
                            <i class="fa-regular fa-edit !text-blue-500 mr-2" (click)="edit(item)"></i>
                            <i class="fa-regular fa-trash-alt !text-red-500" (click)="showDeleteConfirm(item.id)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="paginatio-bottom">
            <div>
                <p class="showing">Showing <span class="primary-color">{{start}} <span class="!text-black"> -</span>
                        {{end}}</span> from
                    <span class="primary-color">{{listOfData.length}}</span>
                    data
                </p>
            </div>
            <div>
                <nz-pagination [nzTotal]="listOfData.length" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                    (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
            </div>
        </div>
    </div>
</nz-spin>
<nz-drawer [nzExtra]="extra" [nzClosable]="false" [nzWidth]="'50%'" [nzVisible]="visible && previewComponent"
    nzPlacement="right" nzTitle="Preview" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <st-mains [item]="previewComponent"></st-mains>
    </ng-container>
</nz-drawer>
<ng-template #extra>
    <i class="fas fa-times text-lg text-red-500 cursor-pointer" (click)="close()"></i>
</ng-template>