<nz-table #nestedTable [nzData]="data" [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzWidth="10%"></th>
      <th>ID</th>
      <th>Icon</th>
      <th>Icon Type</th>
      <th>Title</th>
      <th>Link</th>
      <th>IsTitle</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of data">
      <tr>
        <td [(nzExpand)]="row.expand"></td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="row.id" [disabled]="true"></td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="row.icon"></td>
        <td><nz-select nzShowSearch nzAllowClear [(ngModel)]="row.iconType"
            nzPlaceHolder="Icon Type">
            <nz-option nzLabel="ng-zorro outlined" nzValue="outline"></nz-option>
            <nz-option nzLabel="ng-zorro filled" nzValue="fill"></nz-option>
            <nz-option nzLabel="ng-zorro twotone" nzValue="twotone"></nz-option>
            <nz-option nzLabel="Font Awsome" nzValue="font_awsome"></nz-option>
            <nz-option nzLabel="Material" nzValue="material"></nz-option>
          </nz-select></td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="row.title"></td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="row.link"></td>
        <td><input nz-input type="checkbox" class="form-control" [(ngModel)]="row.isTitle"></td>
      </tr>
      <tr [nzExpand]="row.expand">
        <ng-container *ngTemplateOutlet="recursiveTemplate; context: { $implicit: row.children }"></ng-container>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<ng-template #recursiveTemplate let-data>
  <st-table-row [data]="data"></st-table-row>
</ng-template>