input[type=file]::file-selector-button {
    background: blue !important;
}

input[type=file]::file-selector-button:hover {
    background: rgb(49, 49, 255) !important;
}


input , nz-select , nz-select-top-control{
    height: 36px !important;
}