<div class="main-div h-fit w-full inline-block">
    <div
        class="header w-full h-[70px] border-b border-b-gray-300 flex items-center justify-normal px-5">
        <div
            class="icon bg-blue-600 h-[60%]  w-12 flex justify-center items-center text-2xl hover:bg-blue-500 rounded-lg">
            <i class="fa-light fa-ellipsis-vertical mr-1 text-black"></i>
            <i class="fa-solid fa-bars text-white"></i>
        </div>
        <div
            class="w-[calc(100%-48px-300px)] h-full p-2.5 !text-base overflow-x-auto overflow-hidden">
            <div class="h-1/2 w-full flex space-x-2 items-center justify-start">
                <div class="name group">
                    <!-- <div class="relative cursor-pointer group-hover:border group-hover:border-gray-300 " [hidden]="editId === dataId" (click)="startEdit(1)">
                        {{ data.name }}
                      </div>
                      <input [hidden]="editId != 1" type="text" nz-input  (blur)="stopEdit()" /> -->
                    <p class="text-base font-semibold text-gray-800">NAME</p>
                </div>
                <div class="drop">
                    <i nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                        class="fa-regular fa-chevron-down text-gray-600 text-bsae"></i>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>1st menu item</li>
                            <li nz-menu-item>2nd menu item</li>
                            <li nz-menu-item>3rd menu item</li>
                            <li nz-menu-item nzDanger>4th danger item</li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
                <i class="fa-thin fa-star"></i>
                <div class="dropII flex items-center" nz-dropdown
                    [nzDropdownMenu]="menu1">
                    <div nzTrigger="click" class="flex items-center">
                        <p
                            class="w-3 h-3 rounded-[50%] bg-white border-2 border-gray-300 mr-2"></p>
                        <p>Set Status</p>
                    </div>
                    <nz-dropdown-menu #menu1="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item class="text-center">
                                <div
                                    class="bg-green-100 flex items-center justify-center p-2 py-1 rounded-2xl text-sm">
                                    <p
                                        class="w-3 h-3 rounded-[50%] bg-green-500 border-2 border-green-500 mr-1"></p>
                                    <p>On Track</p>
                                </div>
                            </li>
                            <li nz-menu-item class="text-center">
                                <div
                                    class="bg-orange-100 flex items-center justify-center p-2 py-1 rounded-2xl text-sm">
                                    <p
                                        class="w-3 h-3 rounded-[50%] bg-orange-500 border-2 border-orange-500 mr-1"></p>
                                    <p>At Risk</p>
                                </div>
                            </li>
                            <li nz-menu-item class="text-center">
                                <div
                                    class="bg-red-100 flex items-center justify-center p-2 py-1 rounded-2xl text-sm">
                                    <p
                                        class="w-3 h-3 rounded-[50%] bg-red-500 border-2 border-red-500 mr-1"></p>
                                    <p>Off Track</p>
                                </div>
                            </li>
                            <li nz-menu-item class="text-center">
                                <div
                                    class="bg-blue-100 flex items-center justify-center p-2 py-1 rounded-2xl text-sm">
                                    <p
                                        class="w-3 h-3 rounded-[50%] bg-blue-500 border-2 border-blue-500 mr-1"></p>
                                    <p>On Hold</p>
                                </div>
                            </li>
                            <li nz-menu-item class="text-center">
                                <div
                                    class="bg-green-500 flex items-center justify-center p-2 py-1 rounded-2xl text-sm">
                                    <p>All Completed</p>
                                </div>
                            </li>

                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
            <div class="h-1/2 w-full flex justify-between">
                <div>
                    <nz-tabset class="!h-full assan-builder">
                        <nz-tab class="!h-full !mb-0 !text-gray-600"
                            *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                            <ng-template #titleTemplate>
                                <i class="{{tab.icon}}"></i>
                                {{ tab.name }}
                            </ng-template>
                            {{tab.name}}555
                        </nz-tab>
                    </nz-tabset>
                </div>

                <div class>
                    <i class="fa-regular fa-plus font-semibold"></i>
                </div>
            </div>
        </div>
        <div class="w-[300px] flex justify-between space-x-3">
            <div>
                <nz-avatar-group>
                    <nz-avatar style="background-color: #f56a00"
                        nzText="U"></nz-avatar>
                    <nz-avatar style="background-color: #f56a00"
                        nzText="U"></nz-avatar>
                    <nz-avatar style="background-color: #87d068" nz-tooltip
                        nzTooltipTitle="NG-ZORRO User"
                        nzIcon="user"></nz-avatar>
                    <nz-avatar style="background-color: #1890ff"
                        nzText="NG"></nz-avatar>
                </nz-avatar-group>
            </div>
            <div
                class="w-fit h-[28px] border border-gray-300 rounded-lg bg-blue-600 text-white px-3 py-1 flex justify-center items-center">
                <i class="fa-regular fa-plus mr-1.5 font-semibold"></i>
                <p class="text-sm">Share</p>
            </div>
            <div
                class="w-fit h-[28px] border border-gray-300 rounded-lg bg-white text-gray-600 px-3 py-1 flex justify-center items-center">
                <i class="fa-solid fa-grid-2 mr-1.5 font-semibold"></i>
                <p class="text-sm">Customize</p>
            </div>
        </div>
    </div>

    <div
        class="h-14 w-full px-5 py-2 flex justify-between items-center border-b border-gray-300">
        <div class="flex items-center justify-start space-x-2">
            <div class="h-full flex justify-normal items-center">
                <div nz-dropdown [nzDropdownMenu]="menu4" nzTrigger="click"
                    class="hover:bg-gray-100 flex items-center justify-center text-xs rounded-lg border border-gray-300 rounded-tr-none rounded-br-none px-2 py-1 h-[28px]">
                    <i class="fa-regular fa-plus mr-1 font-semibold"></i>
                    <p class="text-sm">
                        Add task
                    </p>
                </div>
                <div nz-dropdown [nzDropdownMenu]="menu3" nzTrigger="click"
                    class="hover:bg-gray-100 rounded-lg rounded-tl-none rounded-bl-none border border-l-0 border-gray-3 h-[28px] px-2 py-1 flex items-center justify-center">
                    <i class="fa-regular fa-chevron-down text-xs"></i>
                </div>
            </div>
            <div
                class="filter px-3 py-1 rounded-lg hover:bg-gray-50 flex items-center ">
                <i class="fa-regular fa-bars-filter mr-1 text-[10px]"></i>
                <p class="capitalize text-xs font-semibold">filter</p>
            </div>
            <div
                class="filter px-3 py-1 rounded-lg hover:bg-gray-50 flex items-center ">
                <i
                    class="fa-regular fa-arrow-down-arrow-up mr-1 text-[10px]"></i>
                <p class="capitalize font-semibold text-xs">Sort</p>
            </div>
            <div
                class="filter px-3 py-1 rounded-lg hover:bg-gray-50 flex items-center ">
                <i class="fa-regular fa-eye-slash mr-1 text-xs"></i>
                <p class="capitalize font-semibold text-xs">hide</p>
            </div>
        </div>

        <div class="h-full flex justify-end items-center text-base">
            <i class="fa-regular fa-save mr-3 font-medium"></i>
            <i class="fa-regular fa-ellipsis font-medium"></i>
        </div>

    </div>

    <nz-table #basicTable [nzData]="listOfData" class="mt-4 px-4">
        <thead>
            <tr class="!w-full !bg-white flex">
                <th class="flex justify-between text-xs font-normal">
                    <p class="text-xs font-normal">Task name</p>
                    <div>
                        <button
                            class="bg-transparent hover:bg-[#f9f8f8] rounded px-2">
                            <i
                                class="fa-regular fa-chevron-down text-xs font-normal"></i>
                        </button>
                    </div>
                </th><th class="flex justify-between text-xs font-normal">
                    <p class="text-xs font-normal">Task Assignee</p>
                    <div>
                        <button
                            class="bg-transparent hover:bg-[#f9f8f8] rounded px-2">
                            <i
                                class="fa-regular fa-chevron-down text-xs font-normal"></i>
                        </button>
                    </div>
                </th><th class="flex justify-between text-xs font-normal">
                    <p class="text-xs font-normal">Task Due date</p>
                    <div>
                        <button
                            class="bg-transparent hover:bg-[#f9f8f8] rounded px-2">
                            <i
                                class="fa-regular fa-chevron-down text-xs font-normal"></i>
                        </button>
                    </div>
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <div>

                <div class="flex flex-row gap-x-2">
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2">
                        <i
                            class="fa-solid fa-caret-right"></i>
                        <i
                            class="hidden fa-solid fa-caret-down"></i>
                    </button>
                    <div class="group inline-flex gap-x-2">
                        <p class="!text-base !font-medium">Daily Run</p>
                        <button
                            class="hidden group-hover:block bg-transparent hover:bg-[#f9f8f8] rounded px-2"><i
                                class="fa-solid fa-plus"></i></button>
                        <button
                            class="hidden group-hover:block bg-transparent hover:bg-[#f9f8f8] rounded px-2"><i
                                class="fa-solid fa-ellipsis"></i></button>
                    </div>

                </div>
            </div>

            <tr *ngFor="let data of basicTable.data">
                <td class="flex justify-between group"><p>{{ data.name }}</p>
                    <div class="hidden group-hover:block">
                        <button
                            class="bg-transparent hover:bg-[#f9f8f8] rounded px-2">
                            <i
                                class="fa-regular fa-arrow-down-arrow-up text-xs font-normal"></i>
                        </button>
                        <button (click)="open()"
                            class="bg-transparent hover:bg-[#f9f8f8] rounded px-2">
                            <i
                                class="fa-regular fa-chevron-right text-xs font-normal"></i>
                        </button>
                    </div> </td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
                <td>
                    <a>Action 一 {{ data.name }}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-dropdown-menu #menu3="nzDropdownMenu">
    <ul nz-menu nzSelectable>
        <li nz-menu-item>1st menu item</li>
        <li nz-menu-item>2nd menu item</li>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item nzDanger>4th danger item</li>
    </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #menu4="nzDropdownMenu">
    <ul nz-menu nzSelectable>
        <li nz-menu-item>1st menu item</li>
        <li nz-menu-item>2nd menu item</li>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item nzDanger>4th danger item</li>
    </ul>
</nz-dropdown-menu>

<nz-drawer [nzWrapClassName]="'task-manager-drawer'"
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    [nzSize]="'large'"
    (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <!-- drawer content -->
        <div>
            <!-- header -->
            <div
                class="w-full h-[10%] flex justify-between mr-6 border-b py-2 px-4">
                <div>
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1 border"><i
                            class="fa-regular fa-check text-xs font-normal mr-1"></i>Mark
                        complete</button>
                </div>
                <div class="gap-x-2">
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1"><i
                            class="fa-light fa-thumbs-up font-normal"></i></button>
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1"><i
                            class="fa-light fa-paperclip-vertical font-normal"></i></button>
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1"><i
                            class="fa-light fa-diagram-nested font-normal"></i></button>
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1"><i
                            class="fa-light fa-link font-normal"></i></button>
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1">
                        <i
                            class="fa-light fa-arrow-up-right-and-arrow-down-left-from-center font-normal"></i></button>
                    <button
                        class="bg-transparent hover:bg-[#f9f8f8] rounded px-2 py-1"><i
                            class="fa-light fa-arrow-right-to-line font-normal"></i></button>
                </div>
            </div>
            <!-- body  -->
            <div class="px-4 gap-y-1">
                <h1 class="text-2xl font-medium mt-4"> Subject</h1>
                <div class="flex flex-row items-center gap-x-10">
                    <p>Assignee</p>
                    <div class="!bg-white hover:!bg-[#f9f8f8] !rounded">
                        <nz-input-group [nzPrefix]="selectIconSearch">
                            <nz-select [nzShowArrow]="false"
                                nzPlaceHolder="No Assignee">
                                <nz-option nzValue="jack"
                                    nzLabel="Jack"></nz-option>
                                <nz-option nzValue="lucy"
                                    nzLabel="Lucy"></nz-option>
                            </nz-select>
                        </nz-input-group>
                        <ng-template #selectIconSearch>
                            <button class="rounded-full border border-dashed">
                                <i
                                    class="fa-regular fa-user text-xs font-normal py-2 px-2.5"></i>
                            </button>
                        </ng-template>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-x-10">
                    <p>Due date</p>
                    <div class="!bg-white hover:!bg-[#f9f8f8] !rounded">
                        <nz-input-group [nzPrefix]="dateIconSearch">
                            <nz-date-picker nzBorderless
                                nzPlaceHolder="No due date"></nz-date-picker>
                        </nz-input-group>
                        <ng-template #dateIconSearch>
                            <button class="rounded-full border border-dashed">
                                <i
                                    class="fa-regular fa-calendar text-xs font-normal py-2 px-2.5"></i>
                            </button>
                        </ng-template>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-x-10">
                    <p>Projects </p>
                    <div
                        class="flex flex-row items-center !bg-[#f9f8f8] hover:!bg-[#f9f8f8] !rounded-xl cursor-pointer gap-x-1 p-[1px] px-[6px]">
                        <span class="!h-3 !w-6 rounded bg-blue-500"></span>
                        <p
                            class="text-sm decoration hover:underline">Projects</p>
                        <nz-select [nzShowArrow]="false" nzBorderless
                            nzPlaceHolder="Type">
                            <nz-option nzValue="jack"
                                nzLabel="Jack"></nz-option>
                        </nz-select>
                        <p><i class="fa-thin fa-circle-xmark"></i></p>
                    </div>
                </div>
            </div>
            <!-- bottom  -->
            <div></div>
            <div></div>
        </div>
    </ng-container>
</nz-drawer>