$primary-color : #2563EB;

.card-bwody {
  position: relative;

  #search-menu {
    padding: 5px 0px 0px !important;
  }

  #search-menu li {
    font-size: 12px !important;
    padding: 5px 10px !important;
  }
}

#search-menu {
  background-color: #8c8b8b;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}

.side-btn {
  padding: 0px;
  position: absolute;
  height: 80px;
  width: 7px !important;
  top: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  z-index: 9 !important;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  // border-radius: 100px;
  cursor: pointer;
  left: 10px;
  background-color: #038edcb8 !important;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.logo-sm {
  height: 32px;
  margin: 24px;
  // background: rgba(255, 255, 255, 0.3);
}
.isActive{
  background-color: #bae7ff;
}



.btn-no {
  width: fit-content !important;
  height: 40px !important;
  flex-shrink: 0 !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 140% !important;
  letter-spacing: 0.2px !important;
}

.btn {
  height: 40px !important;
  flex-shrink: 0 !important;
  border-radius: 6px !important;
  background: $primary-color !important;
  color: #FFF !important;
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 140% !important;
  letter-spacing: 0.2px !important;
  width: fit-content !important;
  border: none !important;

  &:hover {
    background-color: #3b82f6 !important;
  }
}