<div class=" general_faq ">
  <div *ngIf="dynmaicRule  && UIRule == false" style="position:relative ;">
    <form [formGroup]="businessForm" class="business-rule-form drawer-height">
      <div formArrayName="buisnessRule">
        <div *ngFor="let employee of buisnessRule().controls; let mainIndex=index">
          <div class="row" [formGroupName]="mainIndex"
            style="border: 1px solid rgb(197 187 187); border-radius: 5px; padding: 1%; position: relative;">
            <i class="fa fa-window-close close-rule-icon" nz-tooltip nzTooltipTitle="Close the rule"
              (click)="removeBuisnessRule(mainIndex)" aria-hidden="true"></i>
            <div class="grid grid-cols-3 gap-4 pb-2">
              <div class="flex-inline">
                <label class="label">Name</label>
                <input nz-input placeholder="name" formControlName="name" />
              </div>
              <div class="flex-inline">
                <label class="label">Description</label>
                <input nz-input placeholder="description" formControlName="description" />
              </div>
              <div class="flex-inline">
                <label class="label">Type</label>
                <nz-select formControlName="type">
                  <nz-option nzValue="clientSide" nzLabel="Client Side"></nz-option>
                  <nz-option nzValue="serverSide" nzLabel="Server Side"></nz-option>
                </nz-select>
              </div>
            </div>

            <div class="grid lg:grid-cols-2">
              <div class="w-full ">
                <div formArrayName="ifRuleMain">
                  <div *ngFor="let objIfRule of buisnessRuleIfMain(mainIndex).controls; let ifIndex=index">
                    <div [formGroupName]="ifIndex">
                      <div class="flex flex-wrap mt-4">
                        <button nz-button nzType="primary"
                          *ngIf="ifIndex === buisnessRuleIfMain(mainIndex).controls.length - 1"
                          (click)="addBuisnessIfRuleMain(mainIndex)">
                          <i class="fa-regular fa-plus text-[10px]"></i></button>
                        <h3 class="text-lg mx-2">If</h3>
                        <div class="w-1/4 pr-1">
                          <nz-select nzShowSearch nzAllowClear formControlName="ifCondition"
                            (change)="changeDynamicBuisnessRuleIf()">
                            <nz-option [nzLabel]="ct?.props?.label ? ct?.props?.label : ct?.key" [nzValue]="ct?.key"
                              *ngFor="let ct of businessRuleData"></nz-option>
                          </nz-select>
                        </div>
                        <div class="w-1/4 ml-1">
                          <nz-select nzShowSearch nzAllowClear formControlName="oprator">
                            <nz-option [nzLabel]="ct.name" [nzValue]="ct.key"
                              *ngFor="let ct of BuisnessRuleCondationList"></nz-option>
                          </nz-select>
                        </div>
                        <div class="w-1/4 ml-1">
                          <input nz-input type="text" placeholder="Enter value" id="getValue{{mainIndex}}"
                            formControlName="getValue" required class="form-control" name="getValue{{mainIndex}}" />
                        </div>

                        <div class="ml-1">
                          <button nz-button nzType="primary" nzDanger class="mt-[1px]"
                            *ngIf="buisnessRuleIfMain(mainIndex).controls.length > 1"
                            (click)="removeBuisnessIfRuleMain(mainIndex,ifIndex)">
                            <i class="fa-regular fa-trash text-[10px] -mt-9"></i>
                          </button>
                        </div>
                      </div>
                      <div class="w-full ">
                        <div formArrayName="conditional">
                          <div
                            *ngFor="let skill of buisnessRuleConditional(mainIndex,ifIndex).controls; let conditionIndex=index">
                            <div [formGroupName]="conditionIndex">
                              <div class="flex flex-wrap mt-4">

                                <div class="mr-1">
                                  <button nz-button nzType="primary" class id="btn{{mainIndex}},{{conditionIndex}}"
                                    (click)="conditionalButton(mainIndex,ifIndex,conditionIndex)">
                                    {{this.buisnessRuleConditional(mainIndex,ifIndex).at(conditionIndex).get("condType")?.value}}
                                  </button>
                                </div>
                                <div class="w-1/4">
                                  <nz-select nzShowSearch nzAllowClear formControlName="condifCodition">
                                    <nz-option [nzLabel]="ct?.props?.label ? ct?.props?.label : ct?.key"
                                      [nzValue]="ct?.key" *ngFor="let ct of businessRuleData"></nz-option>
                                  </nz-select>
                                </div>
                                <div class="w-1/4 ml-1">
                                  <nz-select nzShowSearch nzAllowClear formControlName="condOperator">
                                    <nz-option [nzLabel]="ct.name" [nzValue]="ct.key"
                                      *ngFor="let ct of BuisnessRuleCondationList"></nz-option>
                                  </nz-select>
                                </div>
                                <div class=" w-1/4 ml-1">
                                  <input nz-input type="text" placeholder="Enter value"
                                    id=`condValue${mainIndex}-${ifIndex}` formControlName="condValue" required
                                    class="form-control " name=`condValue${mainIndex}-${ifIndex}` />
                                </div>

                                <div class="ml-1">
                                  <button nz-button nzType="primary" class="mt-[1px]" nzDanger
                                    (click)="removeBuisnessRuleConditional(mainIndex,ifIndex,conditionIndex)">
                                    <i class="fa-regular fa-trash text-[10px] -mt-9"></i>
                                  </button>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                          <button nz-button nzType="primary" (click)="addBuisnessRuleConditional(mainIndex,ifIndex)">
                            <i class="fa-regular fa-plus text-[10px] mr-1"></i> Condition</button>
                        </div>
                      </div>
                      <div class="mt-1" *ngIf="ifIndex !== buisnessRuleIfMain(mainIndex).controls.length - 1">
                        <button nz-button nzType="primary" class id="btn{{mainIndex}},{{ifIndex}}"
                          (click)="ifButtonCondition(mainIndex,ifIndex)">
                          {{this.buisnessRuleIfMain(mainIndex).at(ifIndex).get("condType")?.value}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <button nz-button nzType="primary" *ngIf="buisnessRuleIfMain(mainIndex).controls.length === 0"
                    (click)="addBuisnessIfRuleMain(mainIndex)">
                    <i class="fa-regular fa-plus text-[10px] mr-1"></i> If</button>
                </div>
              </div>
              <div class="w-full">
                <div formArrayName="thenCondition">
                  <div *ngFor="let skill of buisnessRuleThen(mainIndex).controls; let thenIndex=index">
                    <div [formGroupName]="thenIndex" class="row">
                      <div class="col-md-11 ">
                        <div class="flex flex-wrap mt-4">
                          <h4 class="text-lg">then</h4>
                          <div class="w-1/4 ml-2">
                            <nz-select nzShowSearch nzAllowClear formControlName="thenTarget">
                              <nz-option [nzLabel]="ct?.props?.label ? ct?.props?.label : ct?.key" [nzValue]="ct?.key"
                                *ngFor="let ct of businessRuleTargetList"></nz-option>
                            </nz-select>
                          </div>
                          <div class="w-1/4 ml-1">
                            <nz-select nzShowSearch nzAllowClear formControlName="thenOpratorForTarget">
                              <nz-option [nzLabel]="'='" [nzValue]="'='"></nz-option>
                            </nz-select>
                          </div>
                          <div class="w-1/4 ml-1">
                            <input nz-input type="text" placeholder="Enter value" id="thenResultValue{{mainIndex}}"
                              formControlName="thenResultValue" required class="form-control "
                              name="thenResultValue{{mainIndex}}" />
                          </div>
                          <div class="ml-1">
                            <button nz-button nzType="primary" nzDanger class="mt-[1px]"
                              *ngIf="buisnessRuleThen(mainIndex).controls.length > 1"
                              (click)="removeBuisnessRuleThen(mainIndex,thenIndex)">
                              <i class="fa-regular fa-trash text-[10px] -mt-9"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <button nz-button nzType="primary" (click)="addBuisnessRuleThen(mainIndex)">
                    <i class="fa-regular fa-plus text-[10px] mr-1"></i> Then</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>

    <div class="drawer-height-btn">

      <button nz-button nzType="primary" class="!bg-green-500 hover:!bg-green-400 !border-none" (click)="addBuisnessRule()">
        <span nz-icon nzType="plus"></span>
      Add Rule
    </button>

    <button nz-button nzType="primary" class="mx-2" (click)="saveBussinessRule()">
      <span nz-icon nzType="save" nzTheme="outline"></span>Save</button>

    <button nzDanger nz-button nzType="primary" (click)="deleteBuisnessRule()">
      <span nz-icon nzType="delete" nzTheme="outline"></span>Delete</button>

    </div>
    </div>
</div>