<!-- <nz-card>
    <nz-tabset>
        <nz-tab *ngFor="let app of applicationData" [nzTitle]="app.name" (nzClick)="callChild(app)">
            <div class="flex flex-wrap">
                <div class="w-1/6 p-2 text-center" (mouseover)="appChild.select =  true"
                (mouseout)="appChild.select = false" [ngClass]="{'select': appChild.select == true}" *ngFor="let appChild of applicationChild">
                    <div class="image">
                        <img *ngIf="appChild.image" class="rounded-full" [src]="appChild.image" alt="image description"
                            style="height: 100px; width: 100px;">
                    </div>
                    <div>
                        <span *ngIf="!appChild.image" nz-icon style="font-size: 50px" nzType="check-circle"
                            nzTheme="outline"></span>
                    </div>
                    <label>{{appChild.name}}</label>
                </div>

            </div>
        </nz-tab>
    </nz-tabset>
</nz-card> -->

<div class="flex flex-wrap">
    <div class="w-1/6 p-2 text-center" (mouseover)="appChild.select =  true"
    (mouseout)="appChild.select = false" [ngClass]="{'select': appChild.select == true}" *ngFor="let appChild of moduleData">
        <div class="image">
            <img *ngIf="appChild.image" class="rounded-full" [src]="appChild.image" alt="image description"
                style="height: 100px; width: 100px;">
        </div>
        <div>
            <span *ngIf="!appChild.image" nz-icon style="font-size: 50px" nzType="check-circle"
                nzTheme="outline"></span>
        </div>
        <label>{{appChild.name}}</label>
    </div>
</div>