<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
    <nz-card nzTitle="TASK MANAGEMENT LIST">
        <nz-table #basicTable [nzData]="tasks" [nzPageSize]="10">
            <thead>
                <tr>
                    <th>Screen Id</th>
                    <th>Date & Time</th>
                    <th>Message</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Component Id</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.screenid }}</td>
                    <td>{{ data.datetime | date :
                        "dd/MMM/yyyy hh:mm:ss"}}</td>
                    <td *ngIf="editId != data._id">{{ data.message }}</td>
                    <td *ngIf="editId != data._id"> <nz-tag *ngIf="data['status'] ; else openStatus"
                            class="font-semibold"
                            [nzColor]="data['status'] == 'open' ? 'red' : (data['status'] == 'inProgress' ? 'orange' : (data['status'] == 'completed' ? 'green' : 'gray'))">{{data.status}}</nz-tag>
                        <ng-template #openStatus>
                            <nz-tag class="font-semibold" [nzColor]="'red'">open</nz-tag>
                        </ng-template>
                    </td>
                    <td *ngIf="editId == data._id"><input nz-input type="text" class="form-control"
                            [(ngModel)]="data.message"></td>
                    <td *ngIf="editId == data._id"><nz-select [(ngModel)]="data.status">
                            <nz-option nzValue="open" nzLabel="Open"></nz-option>
                            <nz-option nzValue="inProgress" nzLabel="In Progress"></nz-option>
                            <nz-option nzValue="completed" nzLabel="completed"></nz-option>
                            <nz-option nzValue="closed" nzLabel="Close"></nz-option>
                        </nz-select></td>

                    <td>{{ data.type }}</td>
                    <td>{{ data.componentid }}</td>
                    <td>{{ data.createdby }}</td>
                    <td>
                        <i *ngIf="editId != data._id" class=" text-xl fas fa-edit text-green-500"
                        (click)="startEdit(data._id,data)"></i>
                        <i *ngIf="editId != data._id" class=" text-xl fas fa-trash text-red-500 ml-1.5"
                        (click)="deleteTask(data)"></i>
                        <i *ngIf="editId == data._id" class=" text-xl fas fa-save text-blue-500"
                        (click)="saveEdit(data)"></i>
                        <i *ngIf="editId == data._id" class=" text-xl fas fa-times-circle text-red-500 ml-1.5"
                        (click)="cancelEdit(data)"></i>
                        <i class="fa-regular text-lg fa-circle-arrow-right text-gray-400 ml-1.5" (click)="showIssue(data)"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</nz-spin>
<div *ngIf="this.issueReport['issueReport'] && this.issueReport['issueReport']?.length  > 0">
    <st-task-report (notify)="updateIssues($event)" class="close-icon" [item]="this.issueReport"
        [screenName]="this.issueReport['issueReport'][0].screenId" [assignToresponse]="this.assignToresponse"
        [type]="'userTaskManagement'" [userTaskManagementData]="tasks"></st-task-report>
</div>