<div class="auto-width border-gray-300 rounded border" >
    <div class="bg-white flex">
        <div *ngFor="let item of dropdownData">
            <button class="hover:bg-blue-200 hover:text-blue cursor-pointer text-center rounded-md my-4" nz-button
                    nz-dropdown nzType="link" [nzDropdownMenu]="menu" (click)="tabsLoad(item)">
                    <h2 class="font-bold font-sans"><span nz-icon [nzType]="item.icon" nzTheme="outline" class="mr-1"></span>{{item.title}}</h2>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ng-container  *ngIf="item.children.length">
                        <nz-card class="rounded-md z-99" *ngIf="item.children[0].type != 'mainTab'">
                            <nz-tabset>
                                <nz-tab *ngFor="let item1 of item.children"
                                    [nzTitle]='item1.title'>
                                    <div class="flex flex-nowrap">
                                        <div class="w-full sm:1/3 md:1/2 mb-4 px-2" *ngFor="let button of item1.children">
                                            <div class=" hover:bg-blue-200 hover:text-blue-500 cursor-pointer rounded-md py-3" (click)="apiCall(button.link)">
                                                <p class="font-sans text-md px-2">
                                                    <span nz-icon [nzType]="button.icon" nzTheme="outline" class="mr-1"></span>{{button.title}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </nz-tab>
                            </nz-tabset>
                        </nz-card>
                    </ng-container>
                </nz-dropdown-menu>
        </div>
    </div>
</div>
