<!-- <pre>{{data|json}}</pre> -->
<!-- <pre>{{filteredApproved|json}}</pre> -->
<!-- ---------------  -->
<!-- Encryption Work  -->
<!-- ---------------  -->

<!-- <input type="text" (change)="sendEncryptData()" [(ngModel)]="inputFiled" placeholder="send encrypt data.">
{{ encryptData }} -->

<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
  <div class="flex flex-wrap">
    <div class="w-1/4 tabset-container">
      <nz-tabset>
        <!--isActive [Approved] -->
        <nz-tab nzTitle="Approved">
          <ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
            <nz-list-header>
              <nz-input-group [nzSuffix]="suffixIconSearch" class="!rounded-md !h-10 p-0 pr-[8px]">
                <input type="text" [(ngModel)]="searchFilteredApprovedValue" nz-input
                  (keyup)="search('approved' , searchFilteredApprovedValue)" placeholder="Search Schema" class=" " />
              </nz-input-group>

              <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
              </ng-template>

            </nz-list-header>
            <div style=" height: 486px; overflow: auto;">
              <li nz-list-item *ngFor="let item of filteredApproved;" nzNoFlex>
                <ul nz-list-item-actions>
                  <nz-list-item-action>
                    <a class="pr-2" (click)="editTableData(item)">
                      <i class="fa-regular fa-pen-to-square text-base text-blue-600 hover:text-blue-500"></i>
                    </a>
                    <a class="pr-2" (click)="dropTable(item)">
                      <i class="fa-regular fa-trash text-base text-red-600 hover:text-red-500"></i>
                    </a>
                  </nz-list-item-action>
                </ul>
                {{ item.tablename }}
              </li>
            </div>

          </ul>
        </nz-tab>
        <!--isActive [Pending] -->
        <nz-tab nzTitle="Pending">
          <ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
            <nz-list-header>
              <!-- <h3><b style="background-color: #FFCC00; padding:3px 5px; border-radius:10px">Pending</b></h3> -->
              <!-- <hr /> -->

              <nz-input-group [nzSuffix]="suffixIconSearch2" class="!rounded-md  p-0 pr-[8px]">
                <input type="text" [(ngModel)]="searchFilteredPendingValue" nz-input
                  (keyup)="search('pending' , searchFilteredPendingValue)" placeholder="Search Schema"
                  class="!h-10 !rounded-md !py-[4px] !px-[11px]" />
              </nz-input-group>

              <ng-template #suffixIconSearch2>
                <span nz-icon nzType="search"></span>
              </ng-template>

            </nz-list-header>
            <div style=" height: 486px; overflow: auto;">
              <li nz-list-item *ngFor="let itemPending of filteredPending" nzNoFlex>
                <ul nz-list-item-actions>
                  <nz-list-item-action>
                    <a (click)="editTableData(itemPending)">
                      <i class="fa-regular fa-pen-to-square text-base text-blue-600 hover:text-blue-500"></i>
                    </a>
                  </nz-list-item-action>
                </ul>
                {{ itemPending.tablename }}

              </li>
            </div>
            <!-- <nz-list-footer>Footer</nz-list-footer> -->
          </ul>
        </nz-tab>
      </nz-tabset>
      <!-- End of nz-tabset -->

    </div>
    <div class="w-3/4 pl-2">
      <div class="h-[46px] mb-[10px] flex items-center px-[15px] rounded-md bg-white text-black text-2xl font-semibold">
        DATABASE</div>
      <nz-card class="w-full !mb-[10px] !rounded-md">
        <form [formGroup]="myForm">
          <div class="flex flex-wrap">
            <div class="w-1/2 theme-body" *ngFor="let item of fields">
              <formly-form [model]="model" [fields]="item.fieldGroup" [options]="options" [form]="myForm"></formly-form>
            </div>
          </div>

          <button nz-button class="my-2 btn" title="Add row" (click)="addRow()" nzTooltipTitle="Add Row" nz-tooltip><i
              class="fa fa-plus"></i> </button>
          <div class="flex flex-wrap">
            <div class="w-3/6">
              <h3 [ngStyle]="{ margin: '16px 0' }"><b>Table Fields</b></h3>
            </div>
            <div class="w-3/6 text-right">
              <button nz-button nzType="primary" class="my-2 btn" title="Save" (click)="submitFormv1()"
                ngbTooltip="Save Table" *ngIf="tableId == 0"> <i class="fa-regular fa-floppy-disk mr-2"></i> Save
              </button>
              <button nz-button nzType="primary" class="my-2 btn border-green-500 !bg-green-500 hover:!bg-green-400"
                title="Update" (click)="updateFormv1()" ngbTooltip="Update Table" *ngIf="tableId !=0"> <i
                  class="fa-regular fa-arrows-rotate mr-2"></i> Update </button>
              <button nz-button
                class="my-2 mx-2 btn-no !border-none !bg-white hover:!bg-gray-50 !text-gray-700 !border-gray-600 hover:!border-blue-500 hover:!text-blue-500"
                title="Cancel" (click)="cancelEditTable()" ngbTooltip="Cancel" *ngIf="tableId !=0"> <i
                  class="fa-regular fa-circle-xmark !bg-white mr-2"></i> Cancel </button>
              <button nz-button nzType="primary"
                class="my-2 mx-2 btn-no border-red-500 !border-none !bg-red-500 hover:!bg-red-400" title="Clear"
                (click)="cancelEditTable()" ngbTooltip="Clear" *ngIf="tableId ==0"> <i
                  class="fa-regular fa-broom-wide mr-2"></i> Clear </button>
            </div>
          </div>
        </form>
      </nz-card>
      <nz-card class="w-full !rounded-md">
        <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="10">
          <thead>
            <tr>
              <th>#</th>
              <th>Field Name</th>
              <th>Type</th>
              <th>Description</th>
              <th>Status</th>
              <th nzWidth="5%"></th>
              <th nzWidth="5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of editRowTable.data; index as i">
              <ng-container> <!--*ngIf="!editCache[data.id]?.edit; else editTemplate"-->
                <td>{{ i+1 }}</td>
                <td><input type="text" nz-input [(ngModel)]="data.fieldname" [ngModelOptions]="{ standalone: true }" />
                </td>
                <!--editCache[data.id].data.fieldName-->
                <td>
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="data.type">
                    <nz-option [nzValue]="item.name" placeholder="Select Page" [nzLabel]="item.name"
                      *ngFor="let item of fieldType"></nz-option>
                  </nz-select>
                </td>
                <td>
                  <input type="text" nz-input [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }" />
                </td>
                <td>
                  <nz-select [ngClass]="{ 'status-color': data.status === 'Pending' }" nzShowSearch nzAllowClear
                    nzPlaceHolder="Select status" [(ngModel)]="data.status">
                    <nz-option nzLabel="Approved" nzValue="Approved"></nz-option>
                    <nz-option nzLabel="Pending" nzValue="Pending"></nz-option>
                    <nz-option nzLabel="Reject" nzValue="Reject"></nz-option>
                  </nz-select>
                </td>
                <td>
                  <!-- <a (click)="startEdit(data.id)" class="pen-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                      d="M4 22h4m12 0h-8m1.888-18.337l.742-.742a3.146 3.146 0 1 1 4.449 4.45l-.742.74m-4.449-4.448s.093 1.576 1.483 2.966c1.39 1.39 2.966 1.483 2.966 1.483m-4.449-4.45L7.071 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-.875 2.626m14.08-8.13L14.93 11.52m-3.41 3.41c-.462.462-.692.692-.947.891c-.3.234-.625.435-.969.599c-.291.139-.601.242-1.22.448l-2.626.876m0 0l-.641.213a.848.848 0 0 1-1.073-1.073l.213-.641m1.501 1.5l-1.5-1.5" />
                  </svg>
                </a> -->
                </td>
                <td>
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data)"
                    class="delete-icon">
                    <i class="fa-regular fa-trash text-red-500 text-xl"></i>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
                        <path d="M9.17 4a3.001 3.001 0 0 1 5.66 0" opacity=".5" />
                        <path
                          d="M20.5 6h-17m15.333 2.5l-.46 6.9c-.177 2.654-.265 3.981-1.13 4.79c-.865.81-2.195.81-4.856.81h-.774c-2.66 0-3.99 0-4.856-.81c-.865-.809-.953-2.136-1.13-4.79l-.46-6.9" />
                        <path d="m9.5 11l.5 5m4.5-5l-.5 5" opacity=".5" />
                      </g>
                    </svg> -->
                  </a>
                </td>
              </ng-container>

              <!--   <ng-template #editTemplate>
              <td>
  
              </td>
              <td>
  
              </td>
              <td>
  
              </td>
              <td>
  
              </td>
              <td>
                <!- <a (click)="saveEdit(data.id)" class="save pen-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="color:#49a1bb"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M17 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3s3-1.34 3-3s-1.34-3-3-3zM6 6h9v4H6z" />
                  </svg>
                </a> ->
              </td>
              <td>
                <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)"
                  class="delete-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
                      <path d="M9.17 4a3.001 3.001 0 0 1 5.66 0" opacity=".5" />
                      <path
                        d="M20.5 6h-17m15.333 2.5l-.46 6.9c-.177 2.654-.265 3.981-1.13 4.79c-.865.81-2.195.81-4.856.81h-.774c-2.66 0-3.99 0-4.856-.81c-.865-.809-.953-2.136-1.13-4.79l-.46-6.9" />
                      <path d="m9.5 11l.5 5m4.5-5l-.5 5" opacity=".5" />
                    </g>
                  </svg>
                </a>
              </td>
            </ng-template> -->
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
  </div>
</nz-spin>