.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table {
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0 !important;
}
.ant-collapse-content>.ant-collapse-content-box {
    padding: 0px !important;
}