<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
    <div *ngIf="saveLoader && tasks.length == 0" style="height: 100vh;"></div>

    <div class="task-chart mb-6 grid grid-cols-4 gap-3">
        <!-- <nz-card >
        </nz-card> -->
            <nz-card *ngFor="let week of chartData" class="flex flex-col items-center !rounded-md">
                <div class="chart">
                    <div class="inner"><span class="center">AGILE</span></div>
                    <div class="segment" style="--rotate: 0deg;">
                    </div>
                    <div class="segment" style="--rotate: 72deg;">
                        <span>Segment 2</span>
                    </div>
                    <div class="segment" style="--rotate: 144deg;">
                        <span>Segment 3</span>
                    </div>
                    <div class="segment" style="--rotate: 216deg;">
                        <span>Segment 4</span>
                    </div>
                    <div class="segment" style="--rotate: 288deg;">
                        <span>Segment 5</span>
                    </div>
                    <div class="">
                        <span class="first">open {{week.issues.open.length}}</span>
                        <span class="second">In Progress {{week.issues.inProgress.length}}</span>
                        <span class="third">Completed {{week.issues.completed.length}}</span>
                        <span class="fourth">Closed {{week.issues.closed.length}}</span>
                        <span class="fifth">Review 0</span>
                    </div>
                </div>
                <div class="first-arrow ">
                    <div class="content">
                        <p>Requirment </p>
                    </div>
                </div>
                <div class="last-arrow ">
                    <div class="content">
                        <p> </p>
                    </div>
                </div>
                <div>
                    <p class="text-lg font-bold pl-20 pt-2">{{week.week}}</p>
                </div>
            </nz-card>
        
    </div>



    <nz-collapse class="mb-2 task-list-collapse" *ngIf="tasks.length > 0">
        <nz-collapse-panel *ngFor="let panel of tasks let i = index" [nzHeader]="header" [nzActive]="false">
            <ng-template #header>
                <p>
                    <span class="font-bold">{{panel.week}}</span>
                    <span class="ml-2">(</span>
                    <span>{{panel.weekStartDate | date : "dd/MM/yyyy"}}</span>
                    <span class="ml-1">-</span>
                    <span>{{panel.weekEndDate | date : "dd/MM/yyyy"}}</span>
                    <span>)</span>
                </p>

            </ng-template>
            <nz-table #basicTable [nzData]="panel.issues
            " [nzPageSize]="10" [nzBordered]="true" class="task-list-table">
                <thead>
                    <tr>
                        <!-- <th>Screen Id</th>
                        <th>Date & Time</th> -->
                        <th>Message</th>
                        <th>Status</th>
                        <th>Assignee</th>
                        <th>Priority</th>
                        <th>Specs</th>
                        <th>Estimation</th>
                        <!-- <th>Type</th>
                        <th>Component Id</th> -->
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-transparent" *ngFor="let data of basicTable.data">
                        <td *ngIf="editId != data._id" (click)="showIssue(data)">
                            <span class="cursor-pointer">{{ data.message }}</span>
                        </td>

                        <td *ngIf="editId == data._id"><input nz-input type="text" class="form-control"
                                [(ngModel)]="data.message"></td>
                        <!-- <td>{{ data.screenId }}</td>
                        <td>{{ data.dateTime | date :
                            "dd/MMM/yyyy hh:mm:ss"}}</td> -->
                        <td class="!hover:bg-red-500" *ngIf="editId != data._id && data['status'] ; else openStatus"
                            [class]="data['status'] == 'open' ? 'bg-red-500' : (data['status'] == 'inProgress' ? 'bg-orange-500' : (data['status'] == 'completed' ? 'bg-green-500' : 'bg-gray-500')) + ' text-white'">
                            <span class="text-white"> {{data?.status}}</span>
                        </td>
                        <ng-template #openStatus>
                            <td *ngIf="editId != data._id && !data['status']" [class]="'bg-red-500'">open
                            </td>
                        </ng-template>
                        <td *ngIf="editId == data._id"><nz-select [(ngModel)]="data.status">
                                <nz-option nzValue="open" nzLabel="Open"></nz-option>
                                <nz-option nzValue="inProgress" nzLabel="In Progress"></nz-option>
                                <nz-option nzValue="completed" nzLabel="completed"></nz-option>
                                <nz-option nzValue="closed" nzLabel="Close"></nz-option>
                            </nz-select></td>
                        <td><nz-avatar [nzTooltipTitle]="data.assignTo ? data.assignTo : ''" nz-tooltip nzIcon="user"
                                style="background-color:#87d068;"></nz-avatar></td>

                        <td class="bg-orange-400"><span class="text-white">Medium</span> </td>
                        <td class="bg-gray-400"></td>
                        <td>{{ data?.endDate
                            | date :
                            "dd/MMM/yyyy"}}</td>
                        <!-- <td>{{ data.componentId }}</td> -->
                        <!-- <td>
                            <i *ngIf="editId != data._id" class=" text-xl fas fa-edit text-green-500"
                                (click)="startEdit(data._id,data)"></i>
                            <i *ngIf="editId != data._id" class=" text-xl fas fa-trash text-red-500 ml-2"
                                (click)="deleteTask(data)"></i>
                            <i *ngIf="editId == data._id" class=" text-xl fas fa-save text-blue-500"
                                (click)="saveEdit(data)"></i>
                            <i *ngIf="editId == data._id" class=" text-xl fas fa-times-circle text-red-500 ml-2"
                                (click)="cancelEdit(data)"></i>
                            <i class="fa-regular text-lg fa-circle-arrow-right text-gray-400 ml-2"
                                (click)="showIssue(data)"></i>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </nz-collapse-panel>
    </nz-collapse>
</nz-spin>
<div *ngIf="this.issueReport['issueReport'] && this.issueReport['issueReport']?.length  > 0">
    <st-task-report (notify)="updateIssues($event)" class="close-icon" [item]="this.issueReport"
        [screenName]="this.issueReport['issueReport'][0].screenId" [assignToresponse]="this.assignToresponse"
        [type]="'userTaskManagement'" [userTaskManagementData]="tasks"></st-task-report>
</div>